<!DOCTYPE html>
<html lang="es">
	<%- include('head');%>
	<body class="container bg-light">
		<header>
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/"
						>Formulario</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/productos">Productos</a>
				</li>
			</ul>
		</header>
		<h2 class="text-primary mt-4">Ingrese datos del producto</h2>
		<form action="/productos" method="post">
			<div class="mb-3">
				<label for="title" class="form-label">Titulo</label>
				<input type="text" class="form-control" name="title" />
			</div>
			<div class="mb-3">
				<label for="price" class="form-label">Precio</label>
				<input type="number" class="form-control" name="price" />
			</div>
			<div class="mb-3">
				<label for="thumbnail" class="form-label">Link foto</label>
				<input type="url" class="form-control" name="thumbnail" />
			</div>
			<button type="submit" class="btn btn-dark">Cargar producto</button>
		</form>

		<%- include('scripts');%>
	</body>
</html>
