{{#if product }}
<h2 class="text-primary mt-4">Productos en el archivo</h2>
<table class="table">
        <thead>
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">URL imagen</th>
          </tr>
        </thead>
        <tbody>
          {{#each product }}
              <tr>
                  <td>{{title}}</td>
                  <td>{{price}}</td>
                  <td><img src={{thumbnail}} class="img-fluid img-thumbnail" alt=""></td>
                </tr>
          {{/each}}
        </tbody>
      </table>
  {{else}}
    <h3 class="alert-danger rounded p-3">No se encontraron productos</h3>  
{{/if}}