  <h2>Formulario de carga de productos</h1>
  <hr>
  
  <div class="d-flex justify-content-center">
    
    <form onsubmit="return enviarProducto()"> 
        <label for="title">Product title:</label><br>
        <input type="text"  id="title"><br>
        <label for="price">Product price:</label><br>
        <input type="number" step="0.01"  id="price"><br>
        <label for="thumbnail">Product thumbnail:</label><br>
        <input type="text"  id="thumbnail"><br><br>
        <button type="submit" class="btn btn-dark">Guardar nuevo producto</button>
    </form>
    </div>
   
    <h2>Tabla de Productos</h1>
	
   <div id="products">
   </div>
    <h2>Chat con Websockets</h1>
    <div class="d-flex flex-column">
      
   <form onsubmit="return enviarMensaje()">
      <input type="text" id="author" placeholder="Email" class="mx-2"/>
      <input type="text" id="text" placeholder="Escriba su mensaje" class="mx-2"/>
      <button type="submit" class="btn btn-dark">Enviar</button>
    </form>
   <div id="messages" class="d-flex flex-column-reverse"></div>
 
</div>